 .сontainer {
     width: 1280px !important; /* Ширина слоя */
     margin-right: auto !important; /* Отступ справа */
     margin-left: auto !important; /* Отступ слева */
 }

 .header-logo {
     font-size: 80px;
     text-decoration: none;
 }
.selection-left-menu:hover {
    outline: none;
    background-color: #dbdbdb;
    padding-left: 6%;
    
    
}

.selection-nav-menu:hover {
    background-color: #222f3a;
    border-left: 1px solid black;
    border-right:1px solid black;
    border-color: #818181;
}




.li-navbar {
    display: inline-block;
}

 .nav-bar {
     background-color: rgb(53, 68, 79);
     height: 69px;
 }
.nav-bar-foot {
     background-color: #b4b7ba;
     height: 69px;
 }

 .header-navbar-menu {
     font-size: 24px;
     font-family: "Myriad Pro";
     color: rgb(255, 255, 255) !important;
     line-height: 1.2;
     text-align: center;
     height: 69px;
     margin-top: 2%;

 }
 .footer-navbar-menu {
     font-size: 24px;
     font-family: "Myriad Pro";
     color: #0c1927 !important;
     line-height: 1.2;
     text-align: left;
     height: 69px;
     margin-top: 2%;

 }

 .li-navbar-header
{
    color: #ffff;
    padding: 20px;
    text-decoration: none;
 }

.li-navbar-footer {
        margin: 20px;
    margin-right: 10px;
    margin-left: 10px;
        color: #0c1927;
    text-decoration: none;
 }

.li-navbar-footer-h:hover {
    color: #3181a6 !important;
    border-bottom: 1px solid #3181a6;
 }
 
.left-menu {
     width: 28%;
     border: 1px solid;
     margin-top: 5%;
     display: inline-block;
 }


 .central-image {
     width: 69%;
     float: right;
     border: 1px solid;
     margin-top: 5%;
     margin-bottom: 3%;
 }

 .central-images {
width: 100%;
 }

 li {
     padding: 1px;
     list-style-type: none;
 }

.text {
   width: 64%;
    margin-left: 34%;
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(44, 44, 44);
  line-height: 1.333;
    margin-bottom: 3%;


}

 .left-menu-a {
     font-size: 28px;
     font-family: "Myriad Pro";
     color: rgb(72, 88, 99) !important;
     line-height: 2.963;
     text-align: left;
     margin-left: 10%;
     text-decoration: none;

 }
 .top_img {

     width: 320px;
     height: 381px;
 }


.central-images {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
 
.central-images:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }
